DEVICE="bond0"
BOOTPROTO="none"
NAME="bond0"
TYPE="Bond"
BONDING_MASTER=yes
ONBOOT="yes"
BONDING_OPTS="mode=4 lacp_rate=1 xmit_hash_policy=layer3+4 miimon=100"
IPV4_FAILURE_FATAL="no"
IPV6INIT="yes"
IPV6_AUTOCONF="yes"
IPV6_DEFROUTE="yes"
IPV6_PEERDNS="yes"
IPV6_PEERROUTES="yes"
IPV6_FAILURE_FATAL="no"
IPADDR="{{ ansible_default_ipv4['address'] }}"
NETMASK="{{ ansible_default_ipv4['netmask'] }}"
GATEWAY="{{ ansible_default_ipv4['gateway'] }}"
