DEVICE=br-mgmt
TYPE=Bridge
IPADDR={{ mgmt_network.split('.')[0:2] | join('.') }}.{{ mgmt_network.split('.')[2]|int + third_oct_diff|int }}.{{ ansible_ssh_host.split('.')[-1] }}
NETMASK={{ mgmt_netmask }}
ONBOOT=yes
NM_CONTROLLED=no
DELAY=0
