auto br-flat
iface br-flat inet static
    address {{ flat_network.split('.')[0:2] | join('.') }}.{{ flat_network.split('.')[2]|int + third_oct_diff|int }}.{{ ansible_ssh_host.split('.')[-1] }}
    netmask  {{ flat_netmask }}
    bridge_ports flat-mesh
    bridge_stp off
    pre-up ip link add flat-mesh type vxlan id {{ flat_vxlan }} group {{ vxlan_group }} ttl 4 dev {{ ansible_default_ipv4.interface }} 
    up sysctl -w net.ipv4.conf.flat-mesh.arp_notify=1
    up sysctl -w net.ipv4.conf.br-flat.arp_notify=1
    post-up ip link set br-flat address $(cat /sys/class/net/br-flat/address)
    post-up ip link set flat-mesh up || true
    down ip link set flat-mesh down || true
    post-down ip link del flat-mesh
