auto p4p1
iface p4p1 inet manual

auto p1p2
iface p1p2 inet manual
    bond-master bond0
    bond-primary p1p2

auto p4p2
iface p4p2 inet manual
    bond-master bond0

auto bond0
iface bond0 inet manual
    bond-slaves none
    bond-mode active-backup
    bond-miimon 100
    bond-downdelay 200
    bond-updelay 200

auto p4p1.{{ flat_vlan }}
iface p4p1.{{ flat_vlan }} inet manual
    vlan-raw-device p4p1

iface bond0.{{ management_vlan }} inet manual
    vlan-raw-device bond0

iface bond0.{{ storage_vlan }} inet manual
    vlan-raw-device bond0

iface bond0.{{ overlay_vlan }} inet manual
    vlan-raw-device bond0

auto br-flat
iface br-flat inet static
    bridge_stp off
    bridge_waitport 10
    bridge_fd 0
    bridge_ports p4p1.{{ flat_vlan }}
    address {{ flat_network.split('.')[0:3] | join('.') }}.{{ ansible_ssh_host.split('.')[-1] }}
    netmask 255.255.252.0
    offload-sg off

auto br-mgmt
iface br-mgmt inet static
    bridge_stp off
    bridge_waitport 10
    bridge_fd 0
    bridge_ports bond0.{{ management_vlan }}
    address {{ management_network.split('.')[0:3] | join('.')}}.{{ ansible_ssh_host.split('.')[-1] }}
    netmask 255.255.252.0
    offload-sg off

auto br-storage
iface br-storage inet static
    bridge_stp off
    bridge_waitport 10
    bridge_fd 0
    bridge_ports bond0.{{ storage_vlan }}
    address {{ storage_network.split('.')[0:3] | join('.') }}.{{ ansible_ssh_host.split('.')[-1] }}
    netmask 255.255.252.0
    offload-sg off

auto br-vxlan
iface br-vxlan inet static
    bridge_stp off
    bridge_waitport 10
    bridge_fd 0
    bridge_ports bond0.{{ overlay_vlan }}
    address {{ overlay_network.split('.')[0:3] | join('.') }}.{{ ansible_ssh_host.split('.')[-1] }}
    netmask 255.255.252.0
    offload-sg off

auto br-vlan
iface br-vlan inet manual
    bridge_stp off
    bridge_waitport 10
    bridge_fd 0
    bridge_ports bond0
    offload-sg off
